html {
    height: 100vh;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: black;
}

@media (max-width: 425px) {
    #calculator {
        width: 100%;
        height: 150vw;
    }
}

@media (min-width: 425px) {
    #calculator {
        width: 425px;
        height: 637.5px;
    }
}

body * {
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

main button {
    font-family: monospace, sans-serif;
}

#calculator * {
    font-size: x-large;
}

#calculator {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
}

output {
    grid-column: 1 / 5;
    text-align: end;
    line-height: 60px;
    padding: 0 1.25rem;
}

#plus {
    grid-row: 3/5;
    grid-column: 4/5;
}

#equals {
    grid-row: 5/7;
    grid-column: 4/5;

    background-color: blue;
}

#zero {
    grid-column: 1/3;
}

button {
    background-color: rgba(255, 255, 255, 0.15);
    border: none;

    border-radius: 6px;
}

button:hover {
    cursor: pointer;
}
