html {
    height: 100vh;
}

body * {
    box-sizing: border-box;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    
    --keycap-placeholder: 19.05mm;
    --keycap-size: 18mm;
}

#numpad {
    display: grid;
    grid-template-rows: repeat(5, var(--keycap-size));
    grid-template-columns: repeat(4, var(--keycap-size));
    gap: 2.1mm;
    justify-content: center;
}

#numpad * {
    font-size: x-large;
}

#numpad button {
    font-family: arial, monospace, sans-serif;
    background-color: rgba(255, 255, 255, 0.15);
    border: none;

    border-radius: 6px;
}

output {
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 6px;
    grid-column: 1 / -1;
    text-align: end;
    padding: 0 1rem;
    border-bottom: 1px solid gray;
    font-size: 2.5rem;
    font-family: 'Segment7Standard', Courier, monospace;
    color: rgb(0, 255, 0);
}

#plus {
    height: 100% !important;
    grid-row: 2 / span 2;
    grid-column: 4/5;
}

#equals {
    grid-row: 4 / span 2;
    grid-column: 4/5;

    background-color: blue !important;
}

#zero {
    grid-column: 1/3;
}

button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

button:active {
    color: rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.05);
}
