@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$transparency-amount: 0.50;
// Colors
// Reduced blue value
$gray-100: #f8f9f9;
$gray-200: #ececec;
$gray-300: #dedede;
$gray-400: #cdcdcd;
$gray-500: #acacac;
$gray-600: #6b6b6b;
$gray-700: #494949;
$gray-800: #343434;
$gray-900: #212121;

$grays: (
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900
);

$secondary: $gray-600;
$dark: $gray-900;

$theme-colors: (
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark
);

// Iterate over each color in $theme-colors and apply transparency
@each $color-name, $color-value in $theme-colors {
    $theme-colors: map-merge($theme-colors, (
            $color-name: rgba($color-value, $transparency-amount)
    ));
}

$card-bg: transparentize($dark, $transparency-amount);

$border-radius: $border-radius-xl;

@import "node_modules/bootstrap/scss/variables-dark";

// Variable overrides
$body-bg-dark: $black; // Use black instead of gray-900 for body background


// Import Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";

@font-face {
    font-family: Segment7;
    src: url(Segment7Standard.otf);
}

#numpad {
    $keycap-size: 18mm;

    grid-template-columns: repeat(4, $keycap-size);
    grid-template-rows: repeat(5, $keycap-size);
}

#plus {
    grid-row-start: 2;
    grid-row-end: 4;

    grid-column-start: 4;
}

#equals {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 3;
}

#output {
    font-family: Segment7, sans-serif;
}

a:link {
    text-decoration: none;
}