@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/variables-dark";
@import "node_modules/bootstrap/scss/mixins";

// Variable overrides
$body-bg-dark: $black; // Use black instead of gray-900 for body background

$transparency-amount: 0.48; // 50% transparency

// Iterate over each color in $theme-colors and apply transparency
@each $color-name, $color-value in $theme-colors {
    $theme-colors: map-merge($theme-colors, (
            $color-name: rgba($color-value, $transparency-amount)
    ));
}

// Import Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";

@font-face {
    font-family: Segment7;
    src: url(Segment7Standard.otf);
}

#numpad {
    $keycap-size: 18mm;

    grid-template-columns: repeat(4, $keycap-size);
    grid-template-rows: repeat(5, $keycap-size);
}

#plus {
    grid-row-start: 2;
    grid-row-end: 4;

    grid-column-start: 4;
}

#equals {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 3;
}

#output {
    font-family: Segment7, sans-serif;
}

a:link {
    text-decoration: none;
}